**/SorcerersAtlas/Intermediate/*
**/SorcerersAtlas/Saved/*
**/SorcerersAtlas/Build/*
**/SorcerersAtlas/Binaries/*
**/SorcerersAtlas/Android_ASTC/*
**/SorcerersAtlas/WondowsNoEditor/*
**/SorcerersAtlas/Windows/*
**/SorcerersAtlas/DerivedDataCache/*